<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" rel="styleSheet">
        <title>TOP</title>
    </head>
    <body>
        <div class="header-contents">
            <h1>匿名掲示板</h1>
        </div>


        <div class="errorMessage" th:each="errorMessage : ${errorMessages}">
            <span th:text="${errorMessage}"></span>
            <th:remove var="errorMessages" scope="session" />
        </div>


        <div class="main-contents">
            <!-- 新規投稿画面遷移ボタン -->
            <a href="/new">
                <button class="new-button" type="button">新規投稿</button>
            </a>
            <!-- 絞り込み機能 -->
            <!-- @{/}にて、top()へ送ることができる。 -->
            <div class="scope-area">
                <form th:action="@{/}" th:method="get">
                    日付絞り込み機能
                    <input type="date" name="startDate" value="${startDate}">～
                    <input type="date" name="endDate" value="${endDate}">
                    <input type="submit" value="絞込">
                </form>
            </div>
            <div class="message-icon" th:each="content : ${contents}">
                <div>
                    ID : <span th:text="${content.id}"/>
                </div>
                <div class="text">
                    投稿 : <span th:text="${content.content}"/>
                </div>
                <div>
                    投稿日時 : <span th:text="${content.createdDate}"/>
                </div>
                <div>
                    更新日時 : <span th:text="${content.updatedDate}"/>
                </div>
                <!-- 削除ボタン（ForumControllerへaction） -->
                <div class="delete-button">
                    <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                        <input type="submit" value="削除">
                    </form>
                </div>
                <!-- 編集ボタン（画面遷移) -->
                <div class="edit-button">
                    <a th:href="@{/edit/{id}(id=${content.id})}">
                        <input type="button" value="編集">
                    </a>
                </div>
                <!-- 返信ボタン(新規なので、actionにidはいらない), nameを入れたら、DBに言葉が入った。-->
                <div class="comment-button">
                    <form th:action="@{/comment}" th:object="${commentFormModel}" th:method="post">
                        <label>返信内容</label>
                        <label>
                            <textarea class="comment-box" name="comment" size="20" maxlength="200"></textarea>
                            <input type="hidden" name="messageId" th:value="${content.id}"><br/>
                            <input type="submit" value="返信"/>
                        </label>
                    </form>
                </div>

                <!-- th:each内であればcommentが使える。そのままだと、commentだけでは使えない。-->
                <label>返信欄</label>
                <div class="comment-icon" th:each="comment : ${comments}">
                    <!-- まずは全件表示する。その後、条件(commentの)に合うものだけで絞り込む -->
                    <div class="text" th:if="${comment.messageId eq content.id}">
                        id:<span th:text="${comment.id}"/></span>,
                        内容:<span th:text="${comment.comment}"/></span>,
                        messageId:<span th:text="${comment.messageId}"/></span>
                        <!--返信編集ボタン-->
                        <div class="editComment-button">
                            <a th:href="@{/comment/{id}(id=${comment.id})}">
                                <button class="edit-button" type="button">編集</button>
                            </a>
                        </div>
                        <!-- 返信削除ボタン（ForumControllerへaction） -->
                        <div class="delete-button">
                            <form th:action="@{/delete/comment/{id}(id=${comment.id})}" th:method="delete">
                                <input type="submit" value="削除">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>